.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.di{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}